.paginacao {
   padding: 40px;
   
}

.botoesPaginacao {
    justify-content:space-around;
    background-color: #ebebff;    
    border: 0;
}

.botoesPaginacao:hover {
    background-color: #3cba92;
    border-radius: 50%;
}

.botoesPaginacao #active {
    background-color: #3cba92;
    border-radius: 50%;
}
