.inputOrdenar {
    display: flex;
   align-items: center;
   justify-content: space-around;
   margin-left: 25px;
}

.pOrdenar {
    margin-right: 20px;
    margin-top: 15px;
}

.selectOrdenar {
    margin-right: 10px;
    margin-left: 10px;
    height: 35px;
    border: none;
    border-radius: 15px;
}