img.small {
    max-height: 8rem;
    padding-left: 0;
}

.cards {
   margin-top: 50px;
   margin-left: 30px;
   background-color: white;
   padding: 20px;
   border-radius: 5px;
   margin-right: 350px;

}

.cardsrow {
    height: 50px;
    margin-left: 250px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 15px;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.teste{
    display: flex;
  }

  

  .idENome{
    display: flex;
   align-items: center;
  }

  .idProdutos{
    border-radius: 25px;
    padding: 5px;
    width: 70px;
    height: 24px;
    background-color: #301b2c;
    color: #ffffff;
  }

  .nomeItem {
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
  }

  .iconesBarcode {
   margin-bottom: 20px;
   
  }

  .iconeInfo {
    margin-bottom: 20px;
   
  }

  .buttonProdutosDataMais {
    border-radius: 50%;
    border-color: #3cba92;
    color: #3cba92;
    background-color: #ffffff;
  }

  .buttonProdutosDataMenos {
    border-radius: 50%;
    border-color: #f62854;
    color: #f62854;
    background-color: #ffffff;
  }

