.filtrodebusca {
    height: 200px;
    width: 220px;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 100px;
    margin-right: 1300px;
    display: inline-block;
}

.botoespesquisa {
    padding: 8px;
    display: block;

}



