.SidebarDireito{
    height: 50px;
    width: 220px;
   margin-left: 1400px;
    padding-top: 10px;
}

.SidebarListDireito{
    padding: 8px;
    
    
}

.SidebarDireitoConteudo {
    padding: 5px 0px 5px 0px;
    font-size: 10;
    color: #5b127d;
    list-style-type: none;
}


.estoque {
    padding: 5px 0px 5px 0px;
    font-size: 10;
}

.estoquep {
    color: #5b127d;
}

.categorias{
    padding: 5px 0px 5px 0px;
    font-size: 10;
}

.categoriasp{
    color: #5b127d;
}