.App {
    width: 100vw;
    height: 100vh;
    background-color: #ebebff;
}

.App-header{
    background-color: #fff;
    justify-content: center;
}

.icones {
    display: flex;
    margin-left: 250px;
    margin-bottom: 300px; 
    
}

.icone {
    display: flex;
    
    
}


